*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: hwb(140 83% 10%);

}

#container {
   width: 80%;
   margin: 39px auto;
   border: 1px solid rgb(0, 0, 0);
   background: white;
}

#header{
   height: 110px;
   background-color: hwb(60 2% 97%);
   color: rgb(3, 24, 207);
   text-align: center;
   line-height: 100px;

}

#logo {
   padding: 20px;
   margin-left: 20px;
   float: left;
}

#logo img {
   float: left;
   height: 80px;
}
#menu {

    clear: both;
    background-color: rgb(11, 185, 216);
    color: white;
    height: 55px;
    border-bottom: 4px solid navy;
}

#menu ul {
    
    list-style: none ;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li {

    line-height: 55px;
    float: left;
    border-right: 1px solid rgb(226, 19, 19);

}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;


}

#menu a:hover{
    background-color: rgb(226, 19, 19);
}

#contect{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/* barra lateral */
#lateral{
    width: 20%;
    border: 1px solid red;
}

#central{
    width: 80%;
    border: 1px solid blue;
}